
       h1{color:red;
          background-color:rgb(19, 18, 18)

       } 

       p{
        /* color:blue */
        /* color:rgb(13, 42, 129) */
        color:#ffff00
       }
       button{
        color:gold
       }
    